<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <link rel="stylesheet" href="../css/main.css"> -->
  </head>
  <body>
    <%if session[:user_id]%>
    <nav class='navbar'>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href='/new'>New Blog</a></li>

        <li><form action="/logout" method="post">
        <input type="submit" name="" value="logout">
        </form></li>
      </ul>
    </nav>
    logged in as: <%= current_user.username%>
    <%end%>
<div class="main-wrapper">
  <%= yield %>
</div>
  </body>
</html>
