<h3>Individual Blog: </h3>
<div><%= @blog.title%></div>
<div><%= @blog.content%></div>

<hr>
<a href ='/blogs/<%= @blog.id %>/edit'><input type="submit" value="update"><a/>

<hr>
<br>
<hr>
<form action="/destroy/<%= @blog.id %>" method="post">
  <input type="submit" name="" value="Delete Blog">
</form>
